<div class="container">

    <table border="2">
        <thead>
            <th>EmployeeId</th>
            <th>
                Firstname
            </th>
            <th>LastName</th>
            <th>Department</th>
            <th>city</th>
            <th>Email</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    101
                </td>
                <td>
                    Abhijeet
                </td>
                <td>
                    Sharma
                </td>
                <td>
                    CS
                </td>
                <td>
                    Jaipur
                </td>
                <td>
                    abhijeetsharma@gmail.com
                </td>
            </tr>
        </tbody>
    </table>
</div>