<div class="container">
    <div *ngIf="error_msg">
        <div class="card">
            <div class="card-body">
                <h1 class="text-danger">No Buses avilable for this route</h1>
            </div>
        </div>
    </div>
    <table class="table table-striped table-dark" style="margin-top: 50px;">
        <thead>
            <tr>
                <th *ngFor="let head of new_bus[0] | keys ">{{head}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of new_bus;index as i">
                <td *ngFor="let list of product | keys">{{product[list]}}</td>
                <td><button type="button" (click)="ViewDetail(product)">View Details</button></td>


            </tr>



        </tbody>
    </table>
</div>