<div *ngIf="alert" class="alert alert-danger ">You can buy only 4 seats in one time </div>


<div class="card">
    <div class="row justify-content-center">
        <div class="col-md-9 ">
            <div class="seat_plan_wrap">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Select Seats </h6>
                        <div class="seats">
                            <div class="handle">
                                <img src="../assets/img/handle.png" alt="">
                            </div>
                            <div class="row col-md-5">
                                <ul>
                                    <span *ngFor="let arr of seats" style="max-width:10px">
                                    
                                        <a (click)="Seat(arr)" id={{arr}} title="[arr]">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </span>
                                </ul>
                                <!-- <li>
                                        <a (click)="Seat('B1')" id="B1" title="[B1]">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[C1]" (click)="Seat('C1')" id="C1">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[D1]" (click)="Seat('D1')" id="D1">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[E1]" (click)="Seat('E1')" id="E1">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[F1]" (click)="Seat('F1')" id="F1">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[G1]" (click)="Seat('G1')" id="G1">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[H1]" (click)="Seat('H1')" id="H1">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[I1]" (click)="Seat('I1')" id="I1">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                </ul>


                                <ul>
                                    <li>
                                        <a title="[A2]" (click)="Seat('A2')" id="A2">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[B2]" (click)="Seat('B2')" id="B2">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[C2]" (click)="Seat('C2')" id="C2">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[D2]" (click)="Seat('D2')" id="D2">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[E2]" (click)="Seat('E2')" id="E2">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[F2]" (click)="Seat('F2')" id="F2">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[G2]" (click)="Seat('G2')" id="G2">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[H2]" (click)="Seat('H2')" id="H2">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[I2]" (click)="Seat('I2')" id="I2">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                </ul>




                                <ul>
                                    <!-- ROW 3 START -->
                                <!-- <li>
                                        <a title="[A3]" (click)="Seat('A3')" id="A3">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[B3]" (click)="Seat('B3')" id="B3">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[C3]" (click)="Seat('C3')" id="C3">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[D3]" (click)="Seat('D3')" id="D3">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[E3]" (click)="Seat('E3')" id="E3">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[F3]" (click)="Seat('F3')" id="F3">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[G3]" (click)="Seat('G3')" id="G3">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[H3]" (click)="Seat('H3')" id="H3">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[I3]" (click)="Seat('I3')" id="I3">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                </ul> -->

                                <!-- ROW 3 COMPLETE  -->

                                <!-- <ul>
                                    
                                    <li >
                                        <a title="[A4]" (click)="Seat('A4')" id="A4">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[B4]" (click)="Seat('B4')" id="B4">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[C4]" (click)="Seat('C4')" id="C4">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[D4]" (click)="Seat('D4')" id="D4">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[E4]" (click)="Seat('E4')" id="E4">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[F4]" (click)="Seat('F4')" id="F4">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[G4]" (click)="Seat('G4')" id="G4">
                                            <img src="../assets/img/bseat.png" alt="">

                                        </a>
                                    </li>
                                    <li>
                                        <a title="[H4]" (click)="Seat('H4')" id="H4">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a title="[I4]" (click)="Seat('I4')" id="I4">
                                            <img src="../assets/img/bseat.png" alt="">
                                        </a>
                                    </li>
                                </ul>  -->

                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped table-dark" style="margin-top: 50px;">
                            <thead>
                                <tr>
                                    <th *ngFor="let head of s[0] | keys ">{{head}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of s;index as i">
                                    <td *ngFor="let list of product | keys">{{product[list]}}</td>


                                </tr>
                                <tr *ngIf="total_fare">
                                    Total:{{total_fare}}
                                </tr>
                                <tr *ngIf="total_fare">
                                    <button type="button" (click)="Confirm()">Confirm</button>
                                </tr>
                            </tbody>
                        </table>


                    </div>


                </div>
            </div>
        </div>
    </div>

</div>